body {
    background-color: #0099CC;
    font-family: -apple-system, sans-serif;
}

.container {
    margin-top: 30px;
}

#title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 100px;
}

table {
    border-collapse: unset;
}
/* main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 120%;
} */

.boggle-board {
    border: solid 20px rgb(29, 73, 132);
    border-radius: 10px;
    /*font-family: monospace;*/
    font-weight: bold;
    font-size: 150%;
    box-shadow: #000033 5px 5px 15px 1px;
}

.boggle-board td {
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

.msg {
    top: 1em;
    /* position: absolute; */
    padding: 0.5em;
}

#words {
    /* position: absolute; */
    /* top: 1em;
    right: 1em;
    width: 7em; */
    /* list-style: none; */
    /* display: inline-block; */
    /* margin: auto 40px; */
}

.msg.ok {
    color: white;
    background-color: green;
}

.msg.err {
    color: white;
    background-color: tomato;
}

form {
    margin-top: 1em;
}

.word-input {
    font-size: 150%;
    width: 7em;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.word-input-btn {
    font-size: 120%;
    /* padding: 0.25em; */
    height: 30px;
    background-color: rgb(29, 73, 132);
    border: solid 1px black;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

#restart {
    font-size: 120%;
    /* padding: 0.25em; */
    height: 30px;
    background-color: rgb(29, 73, 132);
    border: solid 1px black;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

.row {
    margin: 0 auto 20px;

}

#player-stuff div{
    text-align: center;
}

.played-word {
    display: inline-block;
    margin-right: 10px;
}

#scoreboard-title {
    margin-top: 30px;
}

#scoreboard-container {
    /* padding-right:10px; */
}
#scoreboard-container div {
    text-align: right;
}

/* #scoreboard {
    height: 100px;
} */

/* .player-score {
    margin: 0px;
    display: inline-block;
} */