<!doctype html>
<html lang="en">

<head>
  <title>Boggle</title>
  <link rel="stylesheet" href="/static/boggle.css">
</head>

<body>
  <div id="scoreboard">
    <!--All player scores go here-->
  </div>

  <main>
    <table class="board">
      <!-- ultimately, you'll write the JS to make a dynamic board ---
         when you do, it will look like this: -->
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div>
      <p id="game-results">
        <!-- Game results go here -->
      </p>
    </div>

    <p>
      Score: <b id="score">0</b> &mdash;
      Seconds Left: <b id="timer">&ndash;</b>
    </p>

    <form id="newWordForm" autocomplete="off">
      <input id="wordInput" class="word-input" autofocus aria-label="Word">
      <button class="word-input-btn">Go</button>
    </form>

    <button id="restart">Restart!</button>
  </main>
  <div>
    <p class="msg">
      <!-- our JS will put messages here dynamically -->
    </p>
  </div>
  <div>
    <ul id="words">
      <!-- our JS will words here as they score -->
    </ul>
  </div>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script src="/static/boggle.js"></script>
  <script src="/static/boggleWebsocket.js"></script>
</body>

</html>